@media screen and (max-width: 1024px) {
  /*page 3*/
  .tanggal2 {
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 40px;
    padding-top: 83px;
    padding-right: 30px;
    text-align: center;
    width: 15cm;
    float: right;
    white-space: nowrap;
  }

  .tanggal2 .tgl5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 30px;
    width: 15cm;
    float: center;
    white-space: nowrap;
  }

  /*Alamat*/
  .alamat1 {
    text-align: center;
  }
  .tempat1 {
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    padding-top: 10cm;
  }

  .material-symbols-outlined {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    bottom: 2px;
  }

  .btn {
    font-family: "Montserrat", sans-serif;
  }

  /*page 3*/
  .akd {
    font-family: "Vollkorn", serif;
    font-weight: 500;
    color: black;
    font-size: 40px;
    padding: 5cm 0px 0px 0px;
  }

  .linkig {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 25px;
  }

  .instagramy {
    margin-left: 1cm;
    pading: 10px 10px;
    text-decoration: none;
  }

  .instagrams {
    margin-right: 1cm;
    pading: 10px 10px;
    text-decoration: none;
  }

  /*foto terakhir*/
  .our17 {
    width: 50%;
    height: 175px;
    position: relative;
    max-width: 50%;
    object-fit: cover;
    padding: 5px 5px;
    float: left;
  }
}

@media all and (max-width: 670px) {
  /*page 1*/
  .img1 {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    background-position: center bottom;
  }

  .txt1 {
    white-space: nowrap;
    font-size: 20px;
    padding-top: 100px;
  }

  .txt2 {
    white-space: nowrap;
    font-size: 60px;
    padding-top: 20px;
  }


  /*page 2*/
  .img2 {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    background-position: center bottom;
  }
  .img-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 0cm 0px;
    width: 55%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .textp {
    font-family: "Noto Sans", sans-serif;
    color: black;
    text-align: center;
    padding: 20px 0px;
    font-size: 15px;
  }
  .img-2 {
    height: 100px;
    left: 30px;
    object-fit: cover;
    position: absolute;
    top: 360px
    width: 100px;
  }
  .img-3 {
    height: 100px;
    left: 250px;
    object-fit: cover;
    position: absolute;
    top: 360px
    width: 100px;
  }

  span li {
    letter-spacing:0;
    font-family: "Vollkorn", serif;
    text-align: center;
    list-style-type: none;
    color: black;
  }
  
  .texty{
    font-weight: 400;
    left: -20px;
    position: absolute;
    top: 340px
  }
  
  .texts{
    font-weight: 400;
    left: 200px;
    position: absolute;
    top: 340px
  }
  
  .nama1{
    font-size: 12px;
  }
  
  .nama2{
    font-weight: 600;
    font-size: 11px;
  }

  /*Halaman 3*/
  .img3 {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    background-position: center bottom;
  }

/*tanggal 1 class*/

.tggl{
  text-align: center;
}

.tanggal1 {
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 40px;
  padding-top: 20px;
  padding-left: 3px;
  text-align: center;
  width: 10cm;
  float: right;
  white-space: nowrap;
}

.tanggal1 .tgl2 {
  display: inline-block;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  padding-top: 10px;
  width: 10cm;
  left: 0px;
  text-align: center;
}

.tanggal1 .tgl3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 25px;
  padding-top: 20px;
  padding-left: 215px;
  text-align: center;
  width: 15cm;
  float: right;
  white-space: nowrap;
}

  .tanggal2 {
    display: inline-block;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    padding-top: 10px;
    width: 15cm;
    text-align: center;
  }

  .tanggal2 .tgl4 {
    padding-left: 265px;
    float: center;
    font-size: 40px;
    width: 10cm;
    white-space: nowrap;
  }
  
  .tanggal2 .tgl5 {
    padding-left: 215px;
    float: center;
    font-size: 25px;
    width: 15cm;
    white-space: nowrap;
  }

  /*Alamat*/
.alamat1 {
  text-align: center;
}

.tempat1 {
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  padding-top: 10cm;
}

.material-symbols-outlined {
  vertical-align: middle;
  line-height: 0 !important;
  position: relative;
  bottom: 2px;
}

.btn {
  font-family: "Montserrat", sans-serif;
}

/*iphone xr*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {
        /*page 2*/
  .img2 {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    background-position: center bottom;
  }
  .img-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 0cm 0px;
    width: 55%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .textp {
    font-family: "Noto Sans", sans-serif;
    color: black;
    text-align: center;
    padding: 20px 0px;
    font-size: 15px;
  }
  .img-2 {
    height: 120px;
    left: 45px;
    object-fit: cover;
    position: absolute;
    top: 351px
    width: 120px;
  }
  .img-3 {
    height: 120px;
    left: 250px;
    object-fit: cover;
    position: absolute;
    top: 351px
    width: 120px;
  }

  span li {
    letter-spacing:0;
    font-family: "Vollkorn", serif;
    text-align: center;
    list-style-type: none;
    color: black;
  }
  
  .texty{
    font-weight: 400;
    left: -20px;
    position: absolute;
    top: 390px
  }
  
  .texts{
    font-weight: 400;
    left: 190px;
    position: absolute;
    top: 390px
  }
  
  .nama1{
    font-size: 14px;
  }
  
  .nama2{
    font-weight: 600;
    font-size: 15px;
  }

    /*Halaman 3*/
    .img3 {
      background-size: cover;
      min-height: 100vh;
      position: relative;
      color: white;
      background-position: center bottom;
    }
  
  /*tanggal 1 class*/
  
  .tggl{
    text-align: center;
  }
  
  .tanggal1 {
    display: inline-block;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    padding-top: 10px;
    width: 15cm;
    text-align: center;
  }

  .tanggal1 .tgl2 {
    padding-left: 140px;
    float: center;
    font-size: 40px;
    width: 10cm;
    white-space: nowrap;
  }
  
  .tanggal1 .tgl3 {
    padding-left: 150px;
    float: center;
    font-size: 25px;
    width: 15cm;
    white-space: nowrap;
  }
  
    .tanggal2 {
      display: inline-block;
      font-family: "Vollkorn", serif;
      font-weight: 400;
      padding-top: 10px;
      width: 15cm;
      text-align: center;
    }
  
    .tanggal2 .tgl4 {
      padding-left: 240px;
      float: center;
      font-size: 40px;
      width: 10cm;
      white-space: nowrap;
    }
    
    .tanggal2 .tgl5 {
      padding-left: 150px;
      float: center;
      font-size: 25px;
      width: 15cm;
      white-space: nowrap;
    }
  
    /*Alamat*/
  .alamat1 {
    text-align: center;
  }
  
  .tempat1 {
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    padding-top: 10cm;
  }
  
  .material-symbols-outlined {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    bottom: 2px;
  }
  
  .btn {
    font-family: "Montserrat", sans-serif;
  }

     }